@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
}
  
.main {
    display: flex;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

/* Header */
header {
    padding: 20px;
    background-color: #282c34;
    color: white;
}

header img {
    width: 150px;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

input {
    width: 200px;
    height: 36px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}
/* Header */

/* PostCard */
.post-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%;
}

.post-card-author {
    font-weight: bold;
}

.post-card-header {
    padding: 20px;
}

.post-card-top-header {
    display: flex;
    align-items: center;
}

.post-card-header h2 {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 900;
}

.post-card-header p {
    margin: 0;
    font-size: 14px;
    color: gray;
}


.post-card-media img {
    width: 94%;
    padding: 0 20px 20px 20px;
}

.post-card-footer {
    padding: 0 20px 20px;
}

.post-card-footer p {
    margin: 0;
    font-size: 14px;
    color: gray;
    cursor: pointer;
}
/* PostCard */

/* PostList */
.post-list {
    width: 100%;
}

/* Sidebar */
.sidebar {
    width: 30%;
    padding: 20px;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 20px;
}

.sidebar-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar-list {
    list-style: none;
    padding: 0;
}

.sidebar-list-item {
    margin-bottom: 20px;
    cursor: pointer;
}
/* Sidebar */

/* Comments */
.comments {
    border-top: 1px solid #ddd;
}

.comment {
    padding: 20px;
    border-radius: 4px;
}

.comment p {
    margin: 0;
    font-size: 14px;
}

.comment-author {
    font-weight: bold;
    color: gray;
}

.comment-time {
    font-size: 12px;
    color: gray;
}

.comment-footer {
    display:flex;
    align-items: center;
    margin-top: 5px;
}
/* Comments */

/* general */
.dot {
    height: 2px;
    width: 2px;
    background-color: grey;
    border-radius: 50%;
    display: inline-flex;
    margin: 0 10px;
}

@media only screen and (max-width: 940px) {
    .post-list {
        margin-left: 20px;
        margin-right: 20px;
    }

    .sidebar {
        display: none;
    }
  }

@media only screen and (max-width: 600px) {
    .header-container {
        /* display: block;
        text-align: center; */
        flex-direction: column;
    }

    header img {
        margin-bottom: 20px;
    }

    header input {
        margin-top: 0;
    }
}

