@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");

/* .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
} */

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
}
  
.main {
    display: flex;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #282c34;
    color: white;
}

header img {
    width: 150px;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

input {
    width: 200px;
    height: 36px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}
/* Header */

/* PostCard */
.post-card {
    /* background-color: white; */
    border: 1px solid #ddd;
    border-radius: 4px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%;
}

.post-card-author {
    font-weight: bold;
    /* color: gray; */
}

.post-card-header {
    /* display: flex;
    align-items: center; */
    padding: 20px;
}

.post-card-top-header {
    display: flex;
}

.post-card-header h2 {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 900;
}

.post-card-header p {
    margin: 0;
    font-size: 14px;
    color: gray;
}


.post-card-media img {
    width: 94%;
    padding: 0 20px 20px 20px;
    /* height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

.post-card-footer {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    padding: 0 20px 20px;
    /* background-color: #f7f7f7;
    border-top: 1px solid #ddd; */
}

.post-card-footer p {
    margin: 0;
    font-size: 14px;
    color: gray;
    cursor: pointer;
}
/* PostCard */

/* PostList */
.post-list {
    width: 100%;
}

/* Sidebar */

.sidebar {
    width: 30%;
    padding: 20px;
    /* background-color: #f7f7f7; */
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 20px;
}

.sidebar-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar-list {
    list-style: none;
    padding: 0;
}

.sidebar-list-item {
    margin-bottom: 20px;
    cursor: pointer;
}
/* Sidebar */

/* Comments */
.comments {
    /* padding: 20px; */
    /* background-color: #f7f7f7; */
    border-top: 1px solid #ddd;
}

.comment {
    /* margin-bottom: 20px; */
    padding: 20px;
    border-radius: 4px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.comment p {
    margin: 0;
    font-size: 14px;
}

.comment-author {
    font-weight: bold;
    color: gray;
}

.comment-time {
    font-size: 12px;
    color: gray;
}
/* Comments */